[Desktop Entry]
Name=Juan's Saga
GenericName=Platformer Game
Comment=Play the journey of a software developer trying to understand and manage how an open source software is developed, maintained and released
Categories=Game;ActionGame;ArcadeGame;
Exec=com.github.pigdevstudio.juans-saga -m --main-pack /usr/share/com.github.pigdevstudio.juans-saga/com.github.pigdevstudio.pck
Icon=com.github.pigdevstudio.juans-saga
Terminal=false
Type=Application
Keywords=pigdev;Linietsky;godot;platformer;jam;debug;

